.wrap {
    background: #fff;
    max-width: 800px;
    padding: 2em;
    min-height: 400px;


   /* &:hover {
        background: blue;


        h2 {
            color: #fff;
        }
    }


    h2 {
        text-transform: uppercase;
        color: red;

        &:hover {
            font-size: 3em;
            background: green;
        }
    }*/

}