.Authorized {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: min-content 1fr;
	overflow: hidden;


}

body {
	overflow: hidden;
}


.Authorized__content {
	position: relative;
	overflow: hidden;
}




.widow-modal {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 50;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	padding: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.route-modal-page {
	background: #fff;
	position: absolute;
	left: 15px;
	top: 15px;
	padding-bottom: 15px;
	width: 400px;
}

.firstSelect {
	margin: 20px;
}

.secondSelect {
	margin: 20px;
}

.buttonContainer {
	text-align: center;
}

#routeButton {
	color: #FDBF5A;
	background: #1C1A19;
	font-family: 'Roboto Condensed';
}

.route-modal-page p {
	font-style: normal;
	font-family: 'Roboto Condensed';
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #7B7B7B;
	text-align: center;
}

.route-modal-page h1 {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
	text-align: center;
}

.CarConteiner {
	justify-content: center;
	display: flex !important;
	padding-bottom: 15px;
	gap: 10px;
}


.CarBlockInside {
	display: grid;
}

.CarBlockInside h1 {
	grid-row-start: 1;
	grid-row-end:2;
	font-size: 20px;
}

.CarBlockInside p {
	font-size: 12px;
}

.CarBlockInside img {
max-height: 64px;
}